@if (TempData["successAlert"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"
                aria-label="Close"></button>
        <div>@TempData["successAlert"]</div>
    </div>
}


@if (TempData["errorAlert"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"
                aria-label="Close"></button>
        <div>@TempData["errorAlert"]</div>
    </div>
}

@if (TempData["infoAlert"] != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"
                aria-label="Close"></button>
        <div>@TempData["infoAlert"]</div>
    </div>
}

@*Tutaj przekładka, ze wzgłędu na brak dziedziczenia elementów tymczasowych
    ViewBag/ViewData/TempData przez dzieci widoku głównego (Nie przesyłają się
    dane z kontrolera do PartialView)*@

@if (ViewBag.SaveSuccess != null)
{
    <input type="hidden" id="saveSuccess" value="@ViewBag.SaveSuccess" />
}

@*<script>
        $(document).ready(function () {
            setTimeout(function () {
                //$('#submit-errors').hide();
                $(".alert").alert('close');
            }, 5000);
    });
    </script>*@
