@if (TempData["successAlert"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"
                aria-label="Close"></button>
        <p>@TempData["successAlert"]</p>
    </div>
}


@if (TempData["errorAlert"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"
                aria-label="Close"></button>
        <p>@TempData["errorAlert"]</p>
    </div>
}

@if (TempData["infoAlert"] != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"
                aria-label="Close"></button>
        <p>@TempData["infoAlert"]</p>
    </div>
}

@*<script>
        $(document).ready(function () {
            setTimeout(function () {
                //$('#submit-errors').hide();
                $(".alert").alert('close');
            }, 5000);
    });
    </script>*@
