@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Placówka Oświatowa - Diagnoza</h1>
    <p>Aplikacja służy do przeprowadzania diagnozy uczniów</p>
</div>
