@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Placówka Oświatowa - Diagnoza</h1>
    <p class="lead">Aplikacja pozwala na przeprowadzenie diagnozy u dzieci ze specjalnymi potrzebami rozwojowymi oraz edukacyjnymi.</p>
    <p>Jej wynik pomoże zaplanować pracę z dzieckiem tak, aby na miarę jego możliwości,
        wielostronnie i wielospecjalistycznie wspierać jego istniejący potencjał rozwojowy.</p>
</div>

<div class="container">
    <h4>Instrukcja</h4>
    <ul>
        <li>
            Aplikacja składa się z dwóch części:
            <dl class="row">
                <dt class="col-sm-3">
                    Strona internetowa
                </dt>
                <dd class="col-sm-9">
                    Celem jest utworzenie diagnozy ucznia oraz wygenerowanie raportu.
                </dd>
                <dt class="col-sm-3">
                    Aplikacja mobilna
                </dt>
                <dd class="col-sm-9">
                    Służy do zarządzania pracownikami, uczniami, adresami oraz danymi słownikowymi.
                </dd>
            </dl>
        </li>
        <li>
            Przed rozpoczęciem pracy należy zalogować się w <strong>aplikacji mobilnej</strong>
            i wprowadzić dane dotyczące:
            <ul>
                <li>pracowników placówki</li>
                <li>uczniów</li>
                <li>danych słownikowych tj. obszarów i skal trudności zestawów pytań
                    <small class="text-muted">(wyjaśnienie poniżej)</small></li>
            </ul>
        </li>
        <li>
            Następnie, w celu utworzenia diagnozy na <strong>stronie internetowej</strong>
            należy wprowadzić zestawy pytań, w skład których wchodzą:
            <ul>
                <li>opis umiejętności</li>
                <li>skala trudności</li>
                <li>obszar</li>
                <li>oceny</li>
                <li>karta pracy</li>
            </ul>
        </li>
        <li>
            <dl class="row">
                <dt class="col-sm-2">Definicje</dt>
                <dd class="col-sm-10">
                    <dl class="row">
                        <dt class="col-sm-3">Obszar zestawu pytań</dt>
                        <dd class="col-sm-7">Grupuje zestawy pytań co do obszaru jakiego się tyczą, np.: <em>Percepcja słuchowa</em></dd>
                        <dt class="col-sm-3">Skala trudności</dt>
                        <dd class="col-sm-7">
                            Przy tworzeniu formularza diagnozy, służy do określenia zestawów pytań, które mają zostać wygenerowane.
                            Np.: jeżeli wybrną skalą trudności danej diagnozy będzie <em>Łatwy, średni</em>, to zostaną wyświetlone
                            zestawy pytań o skalach:
                            <ul class="list-inline">
                                <li class="list-inline-item"><em>Łatwy</em></li>
                                <li class="list-inline-item"><em>Średni</em></li>
                                <li class="list-inline-item"><em>Łatwy, średni</em></li>
                            </ul>
                        </dd>
                        <dt class="col-sm-3">Pytanie</dt>
                        <dd class="col-sm-7">Wchodzi w skład zestawu pytań. Zawiera treść oraz opis co wykonuje nauczyciel.</dd>
                        <dt class="col-sm-3">Ocena zestawu pytań</dt>
                        <dd class="col-sm-7">
                            Opis w jakim stopniu uczeń radzi sobie z daną umiejętnością.
                            W zależności od przypisanej podczas diangozy oceny i jej stopnia,
                            przedmiotowa umiejętność będzie zaklasyfikowana jako <em>opanowa</em> lub do <em>dalszej pracy</em>.
                        </dd>
                        <dt class="col-sm-3">Karta pracy</dt>
                        <dd class="col-sm-7">
                            Zaimportowany do systemu plik, będący elementem zestawu pytań, służący do przedstawienia uczniowi
                            pytania w formie wizualnej, np: ilustracja na której należy coś wskazać.
                        </dd>
                        <dt class="col-sm-3">Zestaw pytań</dt>
                        <dd class="col-sm-7">
                            Służy do sprawdzenia jedenj umiejętności. Może składać się z jednego bądź kilku pytań pomocniczych.
                            Przypisany jest do jednego obszaru oraz posiada określoną skalę trudności.
                            Może zawierać od jednej do kilku kart pracy. Na etapie wypełniania formularza diagnozy, nauczyciel
                            będzie przypisywał do danego zestawu pytań jedną z wcześniej wprowadzonych ocen.
                        </dd>
                    </dl>
                </dd>
            </dl>
        </li>
    </ul>
</div>


<hr>
<div>
    <h6>Podstawa:</h6>
    <small class="fst-italic">
        Nauczyciel jest obowiązany indywidualizować pracę z uczniem na zajęciach edukacyjnych odpowiednio do potrzeb rozwojowych
        i edukacyjnych oraz możliwości psychofizycznych ucznia. Nauczyciel jest również obowiązany dostosować wymagania edukacyjne,
        o których mowa w art. 44b ust. 8 pkt 1 ustawy o systemie oświaty, do indywidualnych potrzeb rozwojowych i edukacyjnych oraz
        możliwości psychofizycznych ucznia, w przypadkach określonych w przepisach wydanych na podstawie art. 44zb ustawy o systemie
        oświaty, tj. w odniesieniu do ucznia: posiadającego orzeczenie o potrzebie kształcenia specjalnego - na podstawie tego
        orzeczenia oraz ustaleń zawartych w indywidualnym programie edukacyjno-terapeutycznym,
        o którym mowa w art. 127 ust. 3 ustawy - Prawo oświatowe.
    </small>
</div>
